button {
  cursor: pointer;
  display: flex;
  align-items: center;
  @include applyTextStyle($buttonText);
}


.primary-button {
  justify-content: center;
  background-color: $accent;
  height: 48px;
  width: 80%;
  padding-bottom: 2px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
}

.primary-button:hover {
  background-color: transparent;
  border: $accent solid 2px;
  transition: .3s ease;
}


.secondary-button {
  color: $white;
  background-color: rgba($black, 0.4);
  border: $white solid 2px;
  border-radius: 16px;
  padding-bottom: 2px;
  padding-left: 24px;
  padding-right: 16px;
  gap: 16px;
}

.secondary-button .arrow,
.secondary-button:hover .arrow-hover {
  display: inline-flex;
}

.secondary-button:hover .arrow,
.secondary-button .arrow-hover {
  display: none;
}

.hero .secondary-button {
  position: absolute;
  right: 120px;
  top: 120px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin:40px;
}

.breadcrumb {
  font-size: 16px;
  font-family: Darker Grotesque;
  font-weight: bold;
  letter-spacing: 0.64px;
  margin: 0;
}

.breadcrumb:hover {
  color: $accent;
  
}