.home {
  background: url('../pics/hero-home.JPG') center no-repeat;
}

.chisiamo {
  background: url('../pics/hero-chisiamo.JPG') center no-repeat;
}

.realizzazioni {
  background: url('../pics/hero-realizzazioni.JPG') center no-repeat;
}

.contattiorari {
  background: url('../pics/hero-contattiorari.JPG') center no-repeat;
}

.arredamenti {
  background: url('../pics/arredamenti.jpg') center no-repeat;
}

.hero {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($black, 0.25);
}

.hero h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $white;
  width: 32%;
}

.bg-vector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: auto;
}

.scroll-icon {
  display: flex;
  align-self: flex-end;
  justify-self: center;
}

//SCROLL ICON ANIMATION
.scroll,
.scroll-after {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.scroll {
  animation: fadeAnimation 1.5s linear infinite alternate;
}

.scroll-after {
  animation: fadeAnimation 1.5s linear infinite alternate-reverse;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}