@media only screen and (max-width: 1024px) {
  .bg-vector {
    width: 45%;
    top: 60%;
  }

  .hero h2 {
    top: 62%;
    width: 40%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    width: 50%;
  }

  .row .bodycopy,
  .footer-map {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .bg-vector {
    width: 50%;
    top: 60%;
  }

  .page-content {
    display: flex;
    flex-direction: column;
  }

  .hero .secondary-button {
    right: 50%;
    transform: translateX(50%);
  }

  .paragraph {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {

  .nav-items {
    margin: 12px 80px 12px 80px;
  }

  .page-content {
    margin: 120px 80px 120px 80px;
  }

  .bg-vector {
    width: 60%;
  }

  .wrapper {
    width: 100%;
  }

  .footer-link {
    justify-content: left;
  }
}

@media only screen and (max-width: 500px) {

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 32px;
  }

  .nav-items {
    margin: 8px 40px 8px 40px;
  }

  .bg-vector {
    width: 90%;
  }

  .hero h2 {
    width: 70%;
  }

  .primary-button {
    width: 100%;
  }

  .page-content {
    margin: 120px 40px 40px 40px;
  }

  .largeitem .row {
    display: block;
  }

  .logo img {
    width: 70%;
  }

  footer {
    padding: 80px 40px 8px 40px;
    gap: 40px;
  }
}