@media only screen and (max-width: 1024px) {
  .bg-vector {
    width: 40%;
    top: 60%;
  }

  .hero h2 {
    top: 62%;
    width: 30%;
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 70%;
  }

  .row .bodycopy,
  .footer-map {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  .bg-vector {
    width: 50%;
  }

  .page-content {
    display: flex;
    flex-direction: column;
  }

  .hero .secondary-button {
    right: 50%;
    transform: translateX(50%);
  }

  .paragraph {
    width: 100%;
  }

  .wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {

  .nav-items {
    margin: 12px 80px 12px 80px;
  }

  .page-content {
    margin: 120px 80px 120px 80px;
  }

  .bg-vector {
    width: 60%;
  }

  .hero h2 {
    width: 50%;
  }

  .scopri {
    opacity: 1;
  }

  .gallery img {
    width: 200px;
  }

  .footer-link {
    justify-content: left;
  }

  footer {
    padding: 80px 40px 8px 40px;
    gap: 40px;
  }
}

@media only screen and (max-width: 500px) {

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 32px;
  }

  .menu h1:hover {
    font-size: 80px;
    line-height: 80px;
  }

  .nav-items {
    margin: 8px 40px 8px 40px;
  }

  .bg-vector {
    width: 90%;
  }

  .hero h2 {
    width: 70%;
  }

  .primary-button {
    width: 100%;
  }

  .page-content {
    margin: 80px 40px 40px 40px;
    gap: 80px;
  }

  .onpage {
    justify-content: space-between;
  }

  .largeitem .row {
    display: block;
  }

  .logo img {
    width: 70%;
  }
}

@media only screen and (max-width: 400px) {
  .bodycopy .row {
    flex-direction: column;
    gap: 0;
  }

  .col1 {
    width: 100%;
  }

  .col2 {
    width: 100%;
  }
}


@media only screen and (max-width: 340px) {
  .card {
    min-width: 160px;
  }

  .scopri {
    opacity: 0;
  }

  .nav-items {
    margin: 8px 32px 8px 32px;
  }
}