
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-items: stretch;
  background-color: rgba($white, 0.4);
  backdrop-filter: blur($blur);
  margin: 0;
}

.nav-items {
  width: stretch;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 12px 120px 12px 120px;
}

.menu-icon-hover {
  display: none;
}

.nav-icons:hover .menu-icon {
  display: none;
}

.nav-icons:hover .menu-icon-hover {
  display: flex;
}
