@import './variables';
@import './typography';
@import './topbar';
@import './buttons';
@import './hero';
@import './footer';


html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: $white;
  color: $black;
  overflow-x: hidden;
}


// MENU
.menu {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
  padding: 0;
}

.menu h1 {
  text-align: center;
}

.menu h1:hover {
  font-size: 105px;
  line-height: 105px;
  transition: 0.3s ease;
}


//CONTENT
.page-content {
  display: grid;
  margin: 160px 120px 160px 120px;
  gap: 120px;
}


.paragraph {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 48px;
}

form,
.largeitem,
.bodycopy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: fit-content;
}

.dx {
  justify-self: end;
}

.row {
  display: flex;
  align-content: center;
  gap: 24px;
}

.col1 {
  @include applyTextStyle($buttonText);
  width: 35%;
}

.col2 {
  width: 65%;
  align-self: center;
}

.field {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding-left: 1rem;
  border-radius: 0;
  border: 1px solid $black;
  font-size: 16px;
  font-family: Darker Grotesque;
  font-weight: 500;
  letter-spacing: 0.64px;
}

input {
  height: 40px;
}

textarea {
  height: 120px;
  min-height: fit-content;
  padding-top: 1rem;
}

input:hover,
textarea:hover {
  outline: 2px solid rgba($accent, 0.3);
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px solid $accent;
}

::placeholder {
  font-size: 16px;
  font-family: Darker Grotesque;
  font-weight: normal;
  letter-spacing: 0.64px;
}

/* .decoration10 {
  position: absolute;
  left: 20%;
  z-index: -1;
}  */


//CHI SIAMO / REALIZZAZIONI
.fullwidth {
  width: 100%;
  height: auto;
}

.onpage {
  color: $black;
  justify-content: flex-start;
}

.center {
  justify-self: center;
}

.card {
  flex-grow: 1;
  aspect-ratio: 1 / 1;
  min-width: 200px;
  position: relative;
  background-size: cover;
  padding: 24px;
  cursor: pointer;

  button {
    border: none;
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card-title {
    position: absolute;
  }
}

.scopri {
  opacity: 0;
}

.card:hover .scopri {
  opacity: 1;
  transition: 1s ease;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba($white, 0.25);
}

.card:hover:before {
  background-color: rgba($white, 0.5);
  transition: 1s ease;
}

.arredamenti {
  background: url('../pics/arredamenti.jpg') center no-repeat;
  background-size: cover;
}

.finestre {
  background: url('../pics/arredamenti.jpg') center no-repeat;
  background-size: cover;
}

.porte {
  background: url('../pics/arredamenti.jpg') center no-repeat;
  background-size: cover;
}

.scopri {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}


// CONTATTI

.map {
  width: 100%;
  height: 100%;
}

// GALLERY

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;

  img {
    aspect-ratio: 1 / 1;
    width: 400px;
    object-fit: cover;
  }
}

@import './responsiveness';
