h1 {
  font-size: 80px;
  font-weight: 400;
  font-family: Six Caps;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  margin: 0;
}

h2 {
  font-size: 40px;
  font-weight: normal;
  font-family: Six Caps;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  margin: 0;
}

p {
  font-size: 16px;
  font-family: Darker Grotesque;
  font-weight: normal;
  letter-spacing: 0.64px;
  margin: 0;
}

label {
  font-size: 12px;
  font-family: Darker Grotesque;
  font-weight: 500;
  letter-spacing: 0.48px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed;
  width: 100vw;
  display: flex;
  justify-items: stretch;
  background-color: rgba(255, 247, 245, 0.25);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-bottom: 2px solid rgba(220, 91, 50, 0.05);
  margin: 0;
}

.nav-items {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin: 12px 120px 12px 120px;
}

.menu-icon-hover,
.nav-icons:hover .menu-icon {
  display: none;
}

.nav-icons:hover .menu-icon-hover {
  display: flex;
}

#topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* Ensure topbar appears on top of everything */
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Darker Grotesque;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin: 0;
}

.primary-button {
  justify-content: center;
  background-color: #DC5B32;
  height: 48px;
  width: 80%;
  padding-bottom: 2px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
}

.primary-button:hover {
  background-color: transparent;
  border: #DC5B32 solid 2px;
  transition: 0.3s ease;
}

.secondary-button {
  color: #FFF7F5;
  background-color: rgba(13, 8, 6, 0.4);
  border: #FFF7F5 solid 2px;
  border-radius: 16px;
  padding-bottom: 2px;
  padding-left: 24px;
  padding-right: 16px;
  gap: 16px;
}

.secondary-button .arrow,
.secondary-button:hover .arrow-hover {
  display: inline-flex;
}

.secondary-button:hover .arrow,
.secondary-button .arrow-hover {
  display: none;
}

.hero .secondary-button {
  position: absolute;
  right: 120px;
  top: 120px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 40px;
}

.breadcrumb {
  font-size: 16px;
  font-family: Darker Grotesque;
  font-weight: bold;
  letter-spacing: 0.64px;
  margin: 0;
}

.breadcrumb:hover {
  color: #DC5B32;
}

.home {
  background: url("../pics/hero-home.JPG") center no-repeat;
}

.chisiamo {
  background: url("../pics/hero-chisiamo.JPG") center no-repeat;
}

.realizzazioni {
  background: url("../pics/hero-realizzazioni.JPG") center no-repeat;
}

.contattiorari {
  background: url("../pics/hero-contattiorari.JPG") center no-repeat;
}

.arredamenti {
  background: url("../pics/arredamenti.jpg") center no-repeat;
}

.hero {
  display: grid;
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(13, 8, 6, 0.25);
}

.hero h2 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF7F5;
  width: 32%;
}

.bg-vector {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  height: auto;
}

.scroll-icon {
  display: flex;
  align-self: flex-end;
  justify-self: center;
  cursor: pointer;
}

.scroll,
.scroll-after {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.scroll {
  animation: fadeAnimation 1s linear infinite alternate;
}

.scroll-after {
  animation: fadeAnimation 1s linear infinite alternate-reverse;
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
footer {
  display: grid;
  background-color: #0D0806;
  color: #FFF7F5;
  padding: 80px 120px 16px 120px;
  gap: 80px;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

footer .row {
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: grid;
  justify-self: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.logo img {
  justify-self: center;
}

.row .bodycopy,
.footer-map {
  width: 50%;
}

.largeitem {
  width: 100%;
}

.footer-link {
  color: #FFF7F5;
  background: none;
  border: none;
  justify-content: space-between;
  text-align: left;
  padding: 0;
  gap: 8px;
}

.footer-link:hover {
  color: #DC5B32;
}

.footer-link .arrow,
.footer-link:hover .arrow-hover {
  display: inline-flex;
}

.footer-link:hover .arrow,
.footer-link .arrow-hover {
  display: none;
}

.copyright {
  opacity: 60%;
  justify-self: center;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #FFF7F5;
  color: #0D0806;
  overflow-x: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
  padding: 0;
}

.menu h1 {
  text-align: center;
}

.menu h1:hover {
  font-size: 105px;
  line-height: 105px;
  transition: 0.3s ease;
}

.page-content {
  display: grid;
  margin: 160px 120px 160px 120px;
  gap: 120px;
}

.paragraph {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 48px;
}

form,
.largeitem,
.bodycopy {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.dx {
  justify-self: end;
}

.row {
  display: flex;
  align-content: center;
  gap: 24px;
}

.col1 {
  font-size: 20px;
  font-weight: bold;
  font-family: Darker Grotesque;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin: 0;
  width: 35%;
}

.col2 {
  width: 65%;
  align-self: center;
}

.field {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  padding-left: 1rem;
  border-radius: 0;
  border: 1px solid #0D0806;
  font-size: 16px;
  font-family: Darker Grotesque;
  font-weight: 500;
  letter-spacing: 0.64px;
}

input {
  height: 40px;
}

textarea {
  height: 120px;
  min-height: -moz-fit-content;
  min-height: fit-content;
  padding-top: 1rem;
}

input:hover,
textarea:hover {
  outline: 2px solid rgba(220, 91, 50, 0.3);
}

input:focus-visible,
textarea:focus-visible {
  outline: 2px solid #DC5B32;
}

::-moz-placeholder {
  font-size: 16px;
  font-family: Darker Grotesque;
  font-weight: normal;
  letter-spacing: 0.64px;
}

::placeholder {
  font-size: 16px;
  font-family: Darker Grotesque;
  font-weight: normal;
  letter-spacing: 0.64px;
}

/* .decoration10 {
  position: absolute;
  left: 20%;
  z-index: -1;
}  */
.fullwidth {
  width: 100%;
  height: auto;
}

.onpage {
  color: #0D0806;
  justify-content: flex-start;
}

.center {
  justify-self: center;
}

.card {
  flex-grow: 1;
  aspect-ratio: 1/1;
  min-width: 200px;
  position: relative;
  background-size: cover;
  padding: 24px;
  cursor: pointer;
}
.card button {
  border: none;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card .card-title {
  position: absolute;
}

.scopri {
  opacity: 0;
}

.card:hover .scopri {
  opacity: 1;
  transition: 1s ease;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 247, 245, 0.25);
}

.card:hover:before {
  background-color: rgba(255, 247, 245, 0.5);
  transition: 1s ease;
}

.arredamenti {
  background: url("../pics/arredamenti.jpg") center no-repeat;
  background-size: cover;
}

.finestre {
  background: url("../pics/arredamenti.jpg") center no-repeat;
  background-size: cover;
}

.porte {
  background: url("../pics/arredamenti.jpg") center no-repeat;
  background-size: cover;
}

.scopri {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.map {
  width: 100%;
  height: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}
.gallery img {
  aspect-ratio: 1/1;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1600px) {
  h1 {
    font-size: 120px;
  }
  h2 {
    font-size: 64px;
  }
  .menu h1:hover {
    font-size: 160px;
    line-height: 160px;
  }
  ::-moz-placeholder {
    font-size: 20px;
  }
  .textarea,
  .input,
  ::placeholder,
  p {
    font-size: 20px;
  }
  label {
    font-size: 16px;
  }
  .menu-icon,
  .menu-icon-hover {
    width: 64px;
    height: auto;
  }
  .nav-logo {
    height: 120px;
    width: auto;
  }
  .hero .secondary-button {
    top: 200px;
  }
}
@media only screen and (max-width: 1024px) {
  .bg-vector {
    width: 40%;
    top: 60%;
  }
  .hero h2 {
    top: 62%;
    width: 30%;
  }
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 70%;
  }
  .row .bodycopy,
  .footer-map {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .bg-vector {
    width: 50%;
  }
  .page-content {
    display: flex;
    flex-direction: column;
  }
  .hero .secondary-button {
    right: 50%;
    transform: translateX(50%);
  }
  .paragraph {
    width: 100%;
  }
  .wrapper {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .nav-items {
    margin: 12px 80px 12px 80px;
  }
  .page-content {
    margin: 120px 80px 120px 80px;
  }
  .bg-vector {
    width: 60%;
  }
  .hero h2 {
    width: 50%;
  }
  .scopri {
    opacity: 1;
  }
  .gallery img {
    width: 200px;
  }
  .footer-link {
    justify-content: left;
  }
  footer {
    padding: 80px 40px 8px 40px;
    gap: 40px;
  }
}
@media only screen and (max-width: 500px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 32px;
  }
  .menu h1:hover {
    font-size: 80px;
    line-height: 80px;
  }
  .nav-items {
    margin: 8px 40px 8px 40px;
  }
  .bg-vector {
    width: 90%;
  }
  .hero h2 {
    width: 70%;
  }
  .primary-button {
    width: 100%;
  }
  .page-content {
    margin: 80px 40px 40px 40px;
    gap: 80px;
  }
  .onpage {
    justify-content: space-between;
  }
  .largeitem .row {
    display: block;
  }
  .logo img {
    width: 70%;
  }
}
@media only screen and (max-width: 400px) {
  .bodycopy .row {
    flex-direction: column;
    gap: 0;
  }
  .col1 {
    width: 100%;
  }
  .col2 {
    width: 100%;
  }
}
@media only screen and (max-width: 340px) {
  .card {
    min-width: 160px;
  }
  .scopri {
    opacity: 0;
  }
  .nav-items {
    margin: 8px 32px 8px 32px;
  }
}/*# sourceMappingURL=falegnameria.css.map */